.top{
  height:170px;
  background-color: #1E8AE0;
  display: flex;
  align-items:center;
  justify-content: center;
}
.ranking{
  height:138px;
  background-color: #1E8AE0;
  display: flex;
  justify-content: center;
}
.rankingItem{
  height:138px;
  width:330px;
  display: flex;
  align-items:center;
  justify-content: center;
  background-color: #0295F2;
  &.one{
    background-color: #0295F2;
  }
  &.two{
    background-color: #12A2FD;
  }
  &.three{
    background-color: #3BB3FF;
  }
  .icon{
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background-color: #ffffff;
    margin-right: 14px;
  }
  .info{
    height: 56px;
  }
  .name{
    font-size:20px;
    color:#ffffff;
  }
  .donation{
    font-size:16px;
    color:#ffffff;
  }
}
.donationlist{
  display: flex;
  margin: auto;
  margin-top: 30px;
  justify-content: center;
  width: 990px;
  background-color: #FFFFFF;
  border-radius: 4px ;
}
