ul,
form {
	margin: 0px;
	padding: 0px;
}

li {
	list-style: none;
}

table thead th {
	text-align: center;
}

img {
	border-width: 0px;
}

.tophead {
	padding-top: 10px;
	padding-bottom: 10px;
}

.headtab {
	background-color: #0078d7;
	font-size: 17px;
	line-height: 45px;
}

.headtab a {
	color: #FFFFFF;
	margin-left: 15px;
	margin-right: 25px;
}

.headtabright {
	background-color: #0078d7;
	text-align: right;
	font-size: 14px;
	line-height: 45px;
}

.headtabright a {
	color: #FFFFFF;
	margin-left: 10px;
	margin-right: 5px;
}

.logo {
	float: left;
	padding-right: 20px;
	padding-left: 5px;
}

.logotab {
	float: left;
	padding-top: 15px;
	font-size: 17px;
	color: #404040;
	margin-left: 15px;
}

.rightsearch {
	padding-top: 10px;
}

.clear {
	clear: both;
}

.height35 {
	height: 55px;
	visibility-y: hidden;
}
.color-red {
	color: #F00;
}

h1 {
	font-size: 30px;
}

.hidde {
	display: none;
}

.padding-top-5 {
	padding-top: 5px;
}

.padding-top-10 {
	padding-top: 10px;
}

.padding-top-20 {
	padding-top: 20px;
}

.padding-top-1 {
	padding-top: 1px;
}

.padding-left-5 {
	padding-left: 5px;
}

.padding-left-20 {
	padding-left: 35px;
}

.inputname {
	float: left;
	width: 120px;
	text-align: right;
	font-size: 17px;
	line-height: 36px;
	padding-right: 5px;
}

.inputinput {
	float: left;
	line-height: 34px;
}

.input-width-120 {
	width: 120px;
}

.input-width-160 {
	width: 160px;
}

.input-width-220 {
	width: 220px;
}

.input-width-260 {
	width: 260px;
}

.input-width-280 {
	width: 280px;
}

.input-width-p100 {
	width: 100%;
}

.font17 {
	float: left;
	font-size: 17px;
	line-height: 36px;
}

.font14 {
	float: left;
	font-size: 14px;
	line-height: 36px;
}

.fonthui {
	color: #A0A0A0;
}

.content p {
	font-size: 18px;
	line-height: 32px;
}

.price {
	font-size: 20px;
	color: #FF0000;
}

.price16 {
	font-size: 16px;
	color: #FF0000;
}

.float-left {
	float: left;
}

.class_one_title {
	font-size: 22px;
	line-height: 36px;
	color: #505050;
}

.class_two_title,
.class_two_title2 {
	font-size: 19px;
	line-height: 36px;
	text-indent: 1em;
	color: #646464;
}

.class_two_title {
	cursor: pointer;
}

.article_title {
	font-size: 17px;
	line-height: 36px;
	text-indent: 2em;
	display: none;
}

.handbook_title {
	font-size: 17px;
	line-height: 36px;
	text-indent: 2em;
}

.gotop {
	position: absolute;
	display: none;
	cursor: pointer
}

.tabtitle {
	font-size: 20px;
	line-height: 26px;
	padding-left: 20px;
	margin-bottom: 10px;
	margin-top: 20px;
	background-image: url(../images/bjleft.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.content {
	font-size: 18px;
}

.content p {
	text-indent: 2em;
}

.scrollbar {
	overflow-y: scroll;
}

.scrollbar::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.scrollbar::-webkit-scrollbar {
	width: 12px;
	background-color: #F5F5F5;
}

.scrollbar::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
	background-color: #555;
}

.concon h1 {
	padding-bottom: 20px;
}

.concon h4 {
	text-indent: 2em;
}

.daohang {
	font-size: 16px;
	color: #2F2F2F;
	line-height: 32px;
	padding-bottom: 5px;
	border-bottom-style: solid;
	border-bottom-color: #CFCFCF;
	border-bottom-width: 1px;
}

.sprice {
	padding-left: 30px;
}

.copy {
	text-align: center;
	line-height: 36px;
	padding-top: 20px;
	padding-bottom: 20px;
	border-top-style: solid;
	border-top-color: #CFCFCF;
	border-top-width: 1px;
	margin-top: 30px;
	font-size: 16px;
}

.userorders {
	font-size: 17px;
}

.user_t {
	width: 160px;
	float: left;
	text-align: right;
}

.user_con {
	float: left;
	padding-left: 20px;
}

.userorders li {
	width: 100%;
	line-height: 36px;
	height: 36px;
}

.lix {
	border-bottom-style: solid;
	border-bottom-color: #CFCFCF;
	border-bottom-width: 1px;
	margin-bottom: 30px;
}

pre {
	display: none;
	margin-left: 30px;
}

blockquote {
	font-size: 14px;
	line-height: 25px;
	overflow: auto;
	overflow-Y: hidden;
	background-color: #f7f8f9;
	color: #3d414e;
	margin-top: 30px;
	margin-right: 30px;
	margin-left: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-left-width: 5px;
	border-left-style: solid;
	border-left-color: #558abb;
	padding-left: 10px;
}

.video {
	text-align: center;
	padding-left: 0px;
	padding-right: 0px;
}

.buyseekkey {
	text-align: center;
	font-size: 20px;
}

.xtitle {
	color: #0078D7;
}

.version {
	text-align: center;
	margin-bottom: 0px;
	padding-bottom: 0px;
	padding-top: 0px;
}

.version .title {
	font-size: 52px;
	color: #666;
}

.version .ver {
	font-size: 62px;
	color: #006600
}

.cando {
	color: #666;
	text-align: center;
	line-height: 32px;
	font-size: 32px;
	padding-top: 5px;
	margin-top: 0px;
}

.ys {
	text-align: center;
}

.indexdown {
	padding-top: 20px;
	text-align: center;
}

.indexdown a {
	margin-left: 10px;
	margin-right: 10px;
}

.wxqy {
	margin-top: 30px;
	border-top: solid;
	border-top-width: 1px;
	border-top-color: #C7C7C7;
}

.wxewm {
	text-align: center;
	padding-top: 30px;
}

.wxwz {
	text-align: center;
	padding-top: 10px;
	font-size: 28px;
	color: #788495;
}

.linky {
	margin-top: 30px;
	border-top: solid;
	border-top-width: 1px;
	border-top-color: #C7C7C7;
	padding-top: 10px;
	color: #788495;
}

img {
	border-width: 0px;
}
.lookt{
	cursor: pointer;
}
.videon {
	height: 500px;
	width: 100%;
	background-color: #000;
}
.yytf_1 {
	position: absolute;
	z-index: 100;
	height: 500px;
	width: 100%;
	left:0px;
	top:0px;
	background-color: #000;
}
#daojs {
	text-align: right;
	background-color: #000;
	padding-right: 20px;
	color: #FFF;
	padding-top: 20px;
	padding-bottom: 20px;
	height: 25px
}

.lianmeng {
	height: 300px;
	width: 360px;
	padding-top: 50px;
	margin-right: auto;
	margin-left: auto
}
.desc{
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	border: solid;
	border-width: 1px;
	border-color: #C7C7C7;
}
.tooltab{
	text-align: center;
	padding-top: 20px;
	padding-bottom: 10px;
}
.desccontent{
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 30px;
	font-size: 22px;
	line-height: 32px;
}
.toollabel{
	line-height: 32px;
	text-align: right;
}
.toolsm{
	line-height: 32px;
}
.attribute{
	margin: 40px;
}
.attribute-title{
	font-size: 36px;
	color: #0355fc;
}
.max1000{
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
}
.videosamplex{
	height: 600px;
}
.oldimgone{
	float: left;
	margin-bottom: 10px;
	margin-right: 5px;
	margin-left: 5px;
}
.oldimgone p{
	height: 30px;
	margin-top: 5px;
	overflow: hidden;
	text-align: center;
}
.sl_title{
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	line-height: 38px;
	font-size: 22px;
}
.sl_list{
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	line-height: 30px;
	font-size: 18px;
}
.sl_con{
	margin-top: 30px;
	border-top: solid;
	border-top-width: 1px;
	border-top-color: #C7C7C7;
}
.sl_con i{
	margin-right: 10px;
}
.timecs{
	color: #0061A6;
	font-size: 26px;
	padding-bottom: 10px;
}
.vercs{
	color: #212A57;
	font-size: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.downcs{
	padding-top: 10px;
	font-size: 18px;
	color: #000000;
}
.downcs2{
	padding-top: 10px;
	font-size: 16px;
	color: #3E6272;
}
.layui-text a{
	color: #FFFFFF;
}
