
.markdown-body pre {
  overflow: auto;
}
.markdown-body code,
.markdown-body kbd,
.markdown-body pre {
  font-family: "Meiryo UI", "YaHei Consolas Hybrid", Consolas, "Malgun Gothic", "Segoe UI", "Trebuchet MS", Helvetica, monospace, monospace;
  font-size: 1em;
}
.markdown-body code {
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 12px;
}
.markdown-body pre {
  margin-top: 0;
  margin-bottom: 0;
  font: 12px Consolas, "Liberation Mono", Menlo, Courier, monospace;
}
.markdown-body pre {
  margin-top: 0;
  margin-bottom: 16px;
}
.markdown-body code {
  padding: 0;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  margin: 0;
  font-size: 85%;
  background-color: rgba(0, 0, 0, 0.04);
  border-radius: 3px;
}
.markdown-body code:before,
.markdown-body code:after {
  letter-spacing: -0.2em;
  content: "\00a0";
}

.markdown-body pre > code {
  padding: 0;
  margin: 0;
  font-size: 100%;
  word-break: normal;
  white-space: pre;
  background: transparent;
  border: 0;
}
.markdown-body .highlight {
  margin-bottom: 16px;
}
.markdown-body .highlight pre,
.markdown-body pre {
  padding: 16px;
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
  background-color: #f7f7f7;
  border-radius: 3px;
}

.markdown-body .highlight pre {
  margin-bottom: 0;
  word-break: normal;
}

.markdown-body pre {
  word-wrap: normal;
}

.markdown-body pre code {
  display: inline;
  max-width: initial;
  padding: 0;
  margin: 0;
  overflow: initial;
  line-height: inherit;
  word-wrap: normal;
  background-color: transparent;
  border: 0;
}

.markdown-body pre code:before,
.markdown-body pre code:after {
  content: normal;
}

.markdown-body kbd {
  display: inline-block;
  padding: 3px 5px;
  font-size: 11px;
  line-height: 10px;
  color: #555;
  vertical-align: middle;
  background-color: #fcfcfc;
  border: solid 1px #ccc;
  border-bottom-color: #bbb;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 #bbb;
}
.markdown-body kbd {
  display: inline-block;
  padding: 3px 5px;
  font: 11px Consolas, "Liberation Mono", Menlo, Courier, monospace;
  line-height: 10px;
  color: #555;
  vertical-align: middle;
  background-color: #fcfcfc;
  border: solid 1px #ccc;
  border-bottom-color: #bbb;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 #bbb;
}
.markdown-body blockquote, .editormd-html-preview blockquote {
  color: #666;
  border-left: 4px solid #ddd;
  padding-left: 20px;
  margin-left: 0;
  font-size: 14px;
  font-style: italic;
}
.markdown-body p code, .editormd-html-preview p code {
  margin-left: 5px;
  margin-right: 4px;
}
.markdown-body abbr, .editormd-html-preview abbr {
  background: #ffffdd;
}
.markdown-body hr, .editormd-html-preview hr {
  height: 1px;
  border: none;
  border-top: 1px solid #ddd;
  background: none;
}
.markdown-body code, .editormd-html-preview code {
  border: 1px solid #ddd;
  background: #f6f6f6;
  padding: 3px;
  border-radius: 3px;
  font-size: 14px;
}
.markdown-body pre, .editormd-html-preview pre {
  border: 1px solid #ddd;
  background: #f6f6f6;
  padding: 10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
.markdown-body pre code, .editormd-html-preview pre code {
  padding: 0;
}
.markdown-body pre, .markdown-body code, .markdown-body kbd, .editormd-html-preview pre, .editormd-html-preview code, .editormd-html-preview kbd {
  font-family: "YaHei Consolas Hybrid", Consolas, "Meiryo UI", "Malgun Gothic", "Segoe UI", "Trebuchet MS", Helvetica, monospace, monospace;
}

.markdown-body span.editormd-tex, .editormd-html-preview span.editormd-tex {
  margin: 0 5px;
}

/*! Pretty printing styles. Used with prettify.js. */
/* SPAN elements with the classes below are added by prettyprint. */
.markdown-body .pln {
  color: #000;
}

/* plain text */
@media screen {
  .markdown-body .str {
    color: #080;
  }

  /* string content */
  .markdown-body .kwd {
    color: #008;
  }

  /* a keyword */
  .markdown-body .com {
    color: #800;
  }

  /* a comment */
  .markdown-body .typ {
    color: #606;
  }

  /* a type name */
  .markdown-body .lit {
    color: #066;
  }

  /* a literal value */
  /* punctuation, lisp open bracket, lisp close bracket */
  .markdown-body .pun,
  .markdown-body .opn,
  .markdown-body .clo {
    color: #660;
  }

  .markdown-body .tag {
    color: #008;
  }

  /* a markup tag name */
  .markdown-body .atn {
    color: #606;
  }

  /* a markup attribute name */
  .markdown-body .atv {
    color: #080;
  }

  /* a markup attribute value */
  .markdown-body .dec,
  .markdown-body .var {
    color: #606;
  }

  /* a declaration; a variable name */
  .markdown-body .fun {
    color: red;
  }

  /* a function name */
}
/* Use higher contrast and text-weight for printable form. */
@media print, projection {
  .markdown-body .str {
    color: #060;
  }

  .markdown-body .kwd {
    color: #006;
    font-weight: bold;
  }

  .markdown-body .com {
    color: #600;
    font-style: italic;
  }

  .markdown-body .typ {
    color: #404;
    font-weight: bold;
  }

  .markdown-body .lit {
    color: #044;
  }

  .markdown-body .pun,
  .markdown-body .opn,
  .markdown-body .clo {
    color: #440;
  }

  .markdown-body .tag {
    color: #006;
    font-weight: bold;
  }

  .markdown-body .atn {
    color: #404;
  }

  .markdown-body .atv {
    color: #060;
  }
}
/* Put a border around prettyprinted code snippets. */
.markdown-body pre.prettyprint {
  padding: 2px;
  border: 1px solid #888;
}

/* Specify class=linenums on a pre to get line numbering */
.markdown-body ol.linenums {
  margin-top: 0;
  margin-bottom: 0;
}

/* IE indents via margin-left */
.markdown-body li.L0,
.markdown-body li.L1,
.markdown-body li.L2,
.markdown-body li.L3,
.markdown-body li.L5,
.markdown-body li.L6,
.markdown-body li.L7,
.markdown-body li.L8 {
  list-style-type: none;
}

/* Alternate shading for lines */
.markdown-body li.L1,
.markdown-body li.L3,
.markdown-body li.L5,
.markdown-body li.L7,
.markdown-body li.L9 {
  background: #eee;
}

.markdown-body pre.prettyprint, .editormd-html-preview pre.prettyprint {
  padding: 10px;
  border: 1px solid #ddd;
  white-space: pre-wrap;
  word-wrap: break-word;
}
.markdown-body ol.linenums, .editormd-html-preview ol.linenums {
  color: #999;
  padding-left: 2.5em;
}
.markdown-body ol.linenums li, .editormd-html-preview ol.linenums li {
  list-style-type: decimal;
}
.markdown-body ol.linenums li code, .editormd-html-preview ol.linenums li code {
  border: none;
  background: none;
  padding: 0;
}
.markdown-body .highlight pre, .markdown-body pre {
  line-height: 1.6;
}
.markdown-body ul li {
  list-style:disc;
}
.markdown-body ul ul li,
.markdown-body ol ul li {
  list-style-type: circle;
}
.markdown-body ul ul ul>li,
.markdown-body ul ol ul>li,
.markdown-body ol ul ul>li, 
.markdown-body ol ol ul>li {
  list-style-type: square;
}
.markdown-body ol li {
  list-style: decimal;
}
.markdown-body ol ol li,
.markdown-body ul ol li {
  list-style-type: lower-roman;
}
.markdown-body ul ul ol>li,
.markdown-body ul ol ol>li,
.markdown-body ol ul ol>li,
.markdown-body ol ol ol>li {
  list-style-type: lower-alpha;
}

