* { font:11pt Microsoft YaHei;}

.strong{
    color:#000;
    font-weight: bold;
}
img{
    border-radius: 10px;
    border: 1px solid #000;
    margin:5px;
}
.doc_container {
    padding: 5px; 
}

.quote_blog{
    margin:5px;
    border:1px solid #000;
    border-radius: 10px;
    padding:10px;
}